// Colors
$base-color: #020202;
$base-color-soft: #0d0d0d;
$white-color: #ffffff;
$opacity-white-color: rgba(255, 255, 255, 0.6);
$opacity-white-color-soft: rgba(255, 255, 255, 0.1);
$primary-color: #01c4e7;
$secondary-color: #c501e2;

// Fonts
$font-family: "GeistSans-Regular", sans-serif;
$font-family-bold: "GeistSans-Bold", sans-serif;
$font-family-black: "GeistSans-Black", sans-serif;
$font-family-light: "GeistSans-Light", sans-serif;
$font-family-medium: "GeistSans-Medium", sans-serif;
$font-family-semi-bold: "GeistSans-SemiBold", sans-serif;
$font-family-thin: "GeistSans-Thin", sans-serif;
$font-family-ultra-black: "GeistSans-UltraBlack", sans-serif;
$font-family-ultra-light: "GeistSans-UltraLight", sans-serif;

// Font sizes
$font-size-xxs: 0.5rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-xxl: 1.5rem;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// Widths
$min-width: 320px;
$max-width: 1400px;